In [1]:
import numpy as np
import pandas as pd

In [9]:
df1 = pd.read_csv(r"C:\Users\shipo\Downloads\2011년 해상조난사고 상세데이터.csv" , encoding="euc-kr")
df2 = pd.read_csv(r"C:\Users\shipo\Downloads\2012년 해상조난사고 상세데이터.csv" , encoding="euc-kr")
df3 = pd.read_csv(r"C:\Users\shipo\Downloads\2013년 해상조난사고 통계 상세.csv" , encoding="euc-kr")
df4 = pd.read_csv(r"C:\Users\shipo\Downloads\2014년 해상조난사고 통계 상세.csv" , encoding="euc-kr")
df5 = pd.read_csv(r"C:\Users\shipo\Downloads\2015년 해상조난사고 통계 상세.csv" , encoding="euc-kr")
df6 = pd.read_csv(r"C:\Users\shipo\Downloads\2016년 해상조난사고 통계 상세.csv" , encoding="euc-kr")
df7 = pd.read_csv(r"C:\Users\shipo\Downloads\2017년 해상조난사고 상세데이터.csv" , encoding="euc-kr")
df8 = pd.read_csv(r"C:\Users\shipo\Downloads\2018년 해상조난사고 상세데이터 현황.csv" , encoding="euc-kr")

In [20]:
df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8])

In [26]:
df.to_csv(r"C:\Users\shipo\Data\KMOU project\해양 데이터\1.ME\해양사고데이터.csv", encoding="euc-kr")

In [27]:
df2019 = pd.read_excel(r"C:\Users\shipo\Data\KMOU project\해양 데이터\2. Final\해양사고_2019.xlsx", encoding="utf-8")
df2018 = pd.read_csv(r"C:\Users\shipo\Data\KMOU project\해양 데이터\2. Final\해양사고데이터.csv", encoding="euc-kr")

In [28]:
df2018

,날짜,지역,발생해역,선종,톤수,계절,월,시간대,시간대_구체,기상상태,인원,y
0,2011-12-31 13:00,울산,영해-EEZ,어선,9.77,겨울,12,13,12-16시,양호,0,0
1,2011-12-31 12:00,통영,항계내,어선,4.97,겨울,12,12,12-16시,양호,0,0
2,2011-12-31 6:00,여수,영해,낚시어선,1.88,겨울,12,6,4-8시,양호,0,0
3,2011-12-30 21:00,부산,항계내,어선,2194.00,겨울,12,21,20-24시,양호,0,0
4,2011-12-30 12:00,서귀포,영해-EEZ,어선,8.55,겨울,12,12,12-16시,양호,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
16384,2018-01-02 12:00,군산,영해,어선,2.80,겨울,1,12,12-16시,양호,0,0
16385,2018-01-02 10:00,서귀포,EEZ 30마일 이내,어선,218.00,겨울,1,10,8-12시,양호,1,1
16386,2018-01-01 18:00,서귀포,항계내,어선,2.12,겨울,1,18,16-20시,양호,0,0
16387,2018-01-01 16:00,서귀포,영해-EEZ,어선,29.00,겨울,1,16,16-20시,양호,1,1
16388,2018-01-01 7:00,창원,영해,낚시어선,5.39,겨울,1,7,4-8시,양호,0,0

In [29]:
df2019

,날짜,지역,발생해역,선종,톤수,계절,월,시간대_구체,시간대,기상상태,인원,y
0,2019-12-31 03:00:00,여수,영해,어선,83.00,겨울,12,3,0-4시,양호,0,0
1,2019-12-29 02:00:00,여수,영해,낚시어선,3.00,겨울,12,2,0-4시,양호,0,0
2,2019-12-23 01:00:00,평택,영해,화물선,1291.00,겨울,12,1,0-4시,양호,0,0
3,2019-12-20 03:00:00,서귀포,항계 내,모터보트,0.75,겨울,12,3,0-4시,양호,0,0
4,2019-12-19 00:00:00,여수,항계 내,어선,3.49,겨울,12,0,0-4시,양호,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
3815,2019-01-16 22:00:00,태안,영해-EEZ,화물선,3030.00,겨울,1,22,20-24시,양호,0,0
3816,2019-01-11 22:00:00,목포,영해-EEZ,어선,89.00,겨울,1,22,20-24시,양호,0,0
3817,2019-01-10 22:00:00,평택,영해,어선,7.93,겨울,1,22,20-24시,양호,0,0
3818,2019-01-09 20:00:00,통영,영해,낚시어선,6.67,겨울,1,20,20-24시,양호,0,0
3819,2019-01-06 23:00:00,평택,영해,화물선,25406.00,겨울,1,23,20-24시,양호,0,0

In [30]:
df = pd.concat([df2018, df2019])

In [32]:
df.to_excel(r"C:\Users\shipo\Data\KMOU project\해양 데이터\2. Final\데이터총모음.xlsx",encoding="utf-8")

In [33]:
df # 기본 데이터셋

,날짜,지역,발생해역,선종,톤수,계절,월,시간대,시간대_구체,기상상태,인원,y
0,2011-12-31 13:00,울산,영해-EEZ,어선,9.77,겨울,12,13,12-16시,양호,0,0
1,2011-12-31 12:00,통영,항계내,어선,4.97,겨울,12,12,12-16시,양호,0,0
2,2011-12-31 6:00,여수,영해,낚시어선,1.88,겨울,12,6,4-8시,양호,0,0
3,2011-12-30 21:00,부산,항계내,어선,2194.00,겨울,12,21,20-24시,양호,0,0
4,2011-12-30 12:00,서귀포,영해-EEZ,어선,8.55,겨울,12,12,12-16시,양호,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
3815,2019-01-16 22:00:00,태안,영해-EEZ,화물선,3030.00,겨울,1,20-24시,22,양호,0,0
3816,2019-01-11 22:00:00,목포,영해-EEZ,어선,89.00,겨울,1,20-24시,22,양호,0,0
3817,2019-01-10 22:00:00,평택,영해,어선,7.93,겨울,1,20-24시,22,양호,0,0
3818,2019-01-09 20:00:00,통영,영해,낚시어선,6.67,겨울,1,20-24시,20,양호,0,0
3819,2019-01-06 23:00:00,평택,영해,화물선,25406.00,겨울,1,20-24시,23,양호,0,0

In [82]:
df['지역'].value_counts()

목포     1964
통영     1915
여수     1471
서귀포    1447
평택     1406
제주     1335
포항     1267
부산     1251
인천     1173
태안     1036
군산     1003
울산      936
동해      922
완도      838
창원      707
보령      707
속초      428
부안      202
본청      128
울진       73
Name: 지역, dtype: int64

In [85]:
dfw['지점'].value_counts()

22104    77411
22105    75365
22101    75214
22103    75202
22106    75157
22108    74272
22107    73577
22102    73080
21229    69247
22183    55516
22184    46601
22190    35323
22188    34663
22187    34511
22186    34021
22185    33847
22189    33782
22192     1455
22191     1340
22194     1015
22193      993
Name: 지점, dtype: int64

In [2]:
df1 = pd.read_csv(r"C:\Users\shipo\Downloads\1.csv",encoding="euc-kr")
df2 = pd.read_csv(r"C:\Users\shipo\Downloads\2.csv" , encoding="euc-kr")
df3 = pd.read_csv(r"C:\Users\shipo\Downloads\3.csv" , encoding="euc-kr")
df4 = pd.read_csv(r"C:\Users\shipo\Downloads\4.csv" , encoding="euc-kr")
df5 = pd.read_csv(r"C:\Users\shipo\Downloads\5.csv" , encoding="euc-kr")
df6 = pd.read_csv(r"C:\Users\shipo\Downloads\6.csv" , encoding="euc-kr")
df7 = pd.read_csv(r"C:\Users\shipo\Downloads\7.csv" , encoding="euc-kr")
df8 = pd.read_csv(r"C:\Users\shipo\Downloads\8.csv" , encoding="euc-kr")
df9 = pd.read_csv(r"C:\Users\shipo\Downloads\9.csv" , encoding="euc-kr")

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\shipo\\Downloads\\1.csv'

In [106]:
dfw = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9])

In [134]:
# dfw.to

In [139]:
df['지점'] = np.nan_to_num

In [147]:
df[['지점']] = df[['지점']].fillna(1)

In [148]:
# df1['지점']
df

,날짜,지역,발생해역,선종,톤수,계절,월,시간대,시간대_구체,기상상태,인원,y,지점
0,2011-12-31 13:00,울산,영해-EEZ,어선,9.77,겨울,12,13,12-16시,양호,0,0,1.0
1,2011-12-31 12:00,통영,항계내,어선,4.97,겨울,12,12,12-16시,양호,0,0,1.0
2,2011-12-31 6:00,여수,영해,낚시어선,1.88,겨울,12,6,4-8시,양호,0,0,1.0
3,2011-12-30 21:00,부산,항계내,어선,2194.00,겨울,12,21,20-24시,양호,0,0,1.0
4,2011-12-30 12:00,서귀포,영해-EEZ,어선,8.55,겨울,12,12,12-16시,양호,0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3815,2019-01-16 22:00:00,태안,영해-EEZ,화물선,3030.00,겨울,1,20-24시,22,양호,0,0,1.0
3816,2019-01-11 22:00:00,목포,영해-EEZ,어선,89.00,겨울,1,20-24시,22,양호,0,0,1.0
3817,2019-01-10 22:00:00,평택,영해,어선,7.93,겨울,1,20-24시,22,양호,0,0,1.0
3818,2019-01-09 20:00:00,통영,영해,낚시어선,6.67,겨울,1,20-24시,20,양호,0,0,1.0
3819,2019-01-06 23:00:00,평택,영해,화물선,25406.00,겨울,1,20-24시,23,양호,0,0,1.0

In [38]:
df1 = pd.read_csv(r"C:\Users\shipo\Data\KMOU project\해양 데이터\2. Final\해양사고데이터.csv",encoding="euc-kr")

In [39]:
dfw = pd.read_csv(r"C:\Users\shipo\Data\KMOU project\해양 데이터\2. Final\날씨.csv",encoding="euc-kr")

In [40]:
df = pd.read_excel(r"C:\Users\shipo\Data\KMOU project\해양 데이터\2. Final\해양사고_2019.xlsx", encoding="utf-8")

In [48]:
frames = [df1,df]

In [49]:
df = pd.concat(frames)

In [50]:
df

,날짜,지역,발생해역,선종,톤수,계절,월,시간대,시간대_구체,기상상태,인원,y
0,2011-12-31 13:00,울산,영해-EEZ,어선,9.77,겨울,12,13,12-16시,양호,0,0
1,2011-12-31 12:00,통영,항계내,어선,4.97,겨울,12,12,12-16시,양호,0,0
2,2011-12-31 6:00,여수,영해,낚시어선,1.88,겨울,12,6,4-8시,양호,0,0
3,2011-12-30 21:00,부산,항계내,어선,2194.00,겨울,12,21,20-24시,양호,0,0
4,2011-12-30 12:00,서귀포,영해-EEZ,어선,8.55,겨울,12,12,12-16시,양호,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
3815,2019-01-16 22:00:00,태안,영해-EEZ,화물선,3030.00,겨울,1,20-24시,22,양호,0,0
3816,2019-01-11 22:00:00,목포,영해-EEZ,어선,89.00,겨울,1,20-24시,22,양호,0,0
3817,2019-01-10 22:00:00,평택,영해,어선,7.93,겨울,1,20-24시,22,양호,0,0
3818,2019-01-09 20:00:00,통영,영해,낚시어선,6.67,겨울,1,20-24시,20,양호,0,0
3819,2019-01-06 23:00:00,평택,영해,화물선,25406.00,겨울,1,20-24시,23,양호,0,0

In [51]:
# df_ = pd.concat(df1, df)

In [52]:
df['지역'].value_counts()
df['지점'] = 1
df

,날짜,지역,발생해역,선종,톤수,계절,월,시간대,시간대_구체,기상상태,인원,y,지점
0,2011-12-31 13:00,울산,영해-EEZ,어선,9.77,겨울,12,13,12-16시,양호,0,0,1
1,2011-12-31 12:00,통영,항계내,어선,4.97,겨울,12,12,12-16시,양호,0,0,1
2,2011-12-31 6:00,여수,영해,낚시어선,1.88,겨울,12,6,4-8시,양호,0,0,1
3,2011-12-30 21:00,부산,항계내,어선,2194.00,겨울,12,21,20-24시,양호,0,0,1
4,2011-12-30 12:00,서귀포,영해-EEZ,어선,8.55,겨울,12,12,12-16시,양호,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3815,2019-01-16 22:00:00,태안,영해-EEZ,화물선,3030.00,겨울,1,20-24시,22,양호,0,0,1
3816,2019-01-11 22:00:00,목포,영해-EEZ,어선,89.00,겨울,1,20-24시,22,양호,0,0,1
3817,2019-01-10 22:00:00,평택,영해,어선,7.93,겨울,1,20-24시,22,양호,0,0,1
3818,2019-01-09 20:00:00,통영,영해,낚시어선,6.67,겨울,1,20-24시,20,양호,0,0,1
3819,2019-01-06 23:00:00,평택,영해,화물선,25406.00,겨울,1,20-24시,23,양호,0,0,1

In [53]:
A = df[df['지역'].isin(['목포'])]
A['지점'] = A['지점'].replace(1,22183)

B = df[df['지역'].isin(['통영'])]
B['지점'] = B['지점'].replace(1,22188)

C = df[df['지역'].isin(['여수'])]
C['지점'] = C['지점'].replace(1,22103)

D = df[df['지역'].isin(['서귀포'])]
D['지점'] = D['지점'].replace(1,22187)

E = df[df['지역'].isin(['평택'])]
E['지점'] = E['지점'].replace(1,22101)

F = df[df['지역'].isin(['제주'])]
F['지점'] = F['지점'].replace(1,22107)

G = df[df['지역'].isin(['포항'])]
G['지점'] = G['지점'].replace(1,22106)

H = df[df['지역'].isin(['부산', '창원', '본청'])]
H['지점'] = H['지점'].replace(1,22104)

I = df[df['지역'].isin(['인천'])]
I['지점'] = I['지점'].replace(1,22185)

Z = df[df['지역'].isin(['태안', '보령'])]
Z['지점'] = Z['지점'].replace(1,22108)

ZZ = df[df['지역'].isin(['군산', '부안'])]
ZZ['지점'] = ZZ['지점'].replace(1,22186)

ZZZ = df[df['지역'].isin(['울산'])]
ZZZ['지점'] = ZZZ['지점'].replace(1,22189)

Z1 = df[df['지역'].isin(['동해', '속초'])]
Z1['지점'] = Z1['지점'].replace(1,22105)

Z2 = df[df['지역'].isin(['완도'])]
Z2['지점'] = Z2['지점'].replace(1,22184)

Z3 = df[df['지역'].isin(['울진'])]
Z3['지점'] = Z3['지점'].replace(1,22190)

# Z1 = df[df['지역'].isin(['창원'])]
# Z1['지점'] = Z['지점'].replace(1,22105)

# Z1 = df[df['지역'].isin(['보령'])]
# Z1['지점'] = Z['지점'].replace(1,22105)

<ipython-input-53-b06de3dd283c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A['지점'] = A['지점'].replace(1,22183)
<ipython-input-53-b06de3dd283c>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  B['지점'] = B['지점'].replace(1,22188)
<ipython-input-53-b06de3dd283c>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  C['지점'] = C['지점'].replace(1,22103)
<ipython-input-53-b06de3dd283c>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  D['지점'] = D['지점'].replace(1,22187)
<ipython-input-53-b06de3dd283c>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  E['지점'] = E['지점'].replace(1,22101)
<ipython-input-53-b06de3dd283c>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  F['지점'] = F['지점'].replace(1,22107)
<ipython-input-53-b06de3dd283c>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  G['지점'] = G['지점'].replace(1,22106)
<ipython-input-53-b06de3dd283c>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  H['지점'] = H['지점'].replace(1,22104)
<ipython-input-53-b06de3dd283c>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  I['지점'] = I['지점'].replace(1,22185)
<ipython-input-53-b06de3dd283c>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Z['지점'] = Z['지점'].replace(1,22108)
<ipython-input-53-b06de3dd283c>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ZZ['지점'] = ZZ['지점'].replace(1,22186)
<ipython-input-53-b06de3dd283c>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ZZZ['지점'] = ZZZ['지점'].replace(1,22189)
<ipython-input-53-b06de3dd283c>:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Z1['지점'] = Z1['지점'].replace(1,22105)
<ipython-input-53-b06de3dd283c>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Z2['지점'] = Z2['지점'].replace(1,22184)
<ipython-input-53-b06de3dd283c>:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Z3['지점'] = Z3['지점'].replace(1,22190)

In [54]:
df_ = pd.concat([A,B,C,D,E,F,G,H,I,Z,ZZ,ZZZ,Z1,Z2,Z3])

In [123]:
# for i in range(14) :
    
#     if df1['지점'][i].all() == 22183 :
#         df1['지점1'][i] = "목포"
        
# #     elif df1['지점'][i].any() == 22188 :
# #         df1['지점1'][i] = "통영"
        
# #     elif df1['지점'][i].any() == 22103 :
# #         df1['지점1'][i] = "여수"
        
# #     elif df1['지점'][i].any() == 22187 :
# #         df1['지점1'][i] = "서귀포"
        
# #     elif df1['지점'][i].any == 22101 :
# #         df1['지점1'][i] = "평택"

# #     elif df1['지점'][i] == 22107 :
# #         df1['지점1'][i] = "제주"
        
# #     elif df1['지점'][i] == 22106 :
# #         df1['지점1'][i] = "포항"
        
# #     elif df1['지점'][i] == 22104 :
# #         df1['지점1'][i] = "부산"
        
# #     elif df1['지점'][i] == 22185 :
# #         df1['지점1'][i] = "인천"
        
# #     elif df1['지점'][i] == 22108 :
# #         df1['지점1'][i] = "태안"
        
# #     elif df1['지점'][i] == 22186 :
# #         df1['지점1'][i] = "군산"

# #     elif df1['지점'][i] == 22189 :
# #         df1['지점1'][i] = "울산"
        
# #     elif df1['지점'][i] == 22105 :
# #         df1['지점1'][i] = "동해"
        
# #     elif df1['지점'][i] == 22184 :
# #         df1['지점1'][i] = "완도"
        
# #     elif df1['지점'][i] == 22184 :
# #         df1['지점1'][i] = "완도"
        
# #     elif df1['지점'][i] == 22190 :
# #         df1['지점1'][i] = "울진"
        
# #     else:
# #         df1['지점1'][i] = "북한"

In [55]:
df_['지점'].value_counts()

22104    2086
22183    1964
22188    1915
22108    1743
22103    1471
22187    1447
22101    1406
22105    1350
22107    1335
22106    1267
22186    1205
22185    1173
22189     936
22184     838
22190      73
Name: 지점, dtype: int64

In [88]:
df_['날짜']=df_['날짜'].values.astype(int)
dfw['날짜']=dfw['날짜'].values.astype(int)

# df_.to_csv(r"C:\Users\shipo\Data\KMOU project\해양 데이터\2. Final\되라.csv", encoding="euc-kr")

ValueError: invalid literal for int() with base 10: '2011-12-29 14:00'

In [74]:
df_ = pd.read_csv(r"C:\Users\shipo\Data\KMOU project\해양 데이터\2. Final\되라.csv", encoding="euc-kr")

In [75]:
dfw

,Unnamed: 0,지점,일시,풍속(m/s),풍향(deg),GUST풍속(m/s),현지기압(hPa),습도(%),기온(°C),수온(°C),최대파고(m),유의파고(m),평균파고(m),파주기(sec),파향(deg),지점1,날짜
0,0,21229,2011-12-28 0:00,2.1,304.0,4.2,1031.0,45.0,6.2,11.9,3.7,2.2,1.1,6.4,103.0,NaN,2011-12-28 0:00
1,1,21229,2011-12-28 1:00,4.5,293.0,6.9,1030.6,51.0,6.2,11.7,3.6,2.2,1.1,4.3,82.0,NaN,2011-12-28 1:00
2,2,21229,2011-12-28 2:00,4.6,277.0,7.2,1030.4,42.0,6.5,12.4,3.4,2.1,1.0,4.9,206.0,NaN,2011-12-28 2:00
3,3,21229,2011-12-28 3:00,3.2,285.0,6.0,1030.4,40.0,6.5,13.2,3.3,2.1,1.0,4.6,8.0,NaN,2011-12-28 3:00
4,4,21229,2011-12-28 4:00,2.7,276.0,4.6,1030.5,41.0,6.7,13.3,2.6,1.9,1.0,9.1,37.0,NaN,2011-12-28 4:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981587,148322,22194,2019-12-30 20:00,12.9,338.0,16.5,1028.5,67.0,6.0,11.7,5.5,3.3,2.4,7.1,329.0,NaN,2019-12-30 20:00
981588,148323,22194,2019-12-30 21:00,13.9,341.0,17.9,1028.9,68.0,5.0,11.7,5.7,4.1,2.9,7.1,327.0,NaN,2019-12-30 21:00
981589,148324,22194,2019-12-30 22:00,14.2,342.0,19.2,1029.6,68.0,4.3,11.7,6.0,3.5,2.5,8.0,315.0,NaN,2019-12-30 22:00
981590,148325,22194,2019-12-30 23:00,13.5,343.0,17.3,1030.3,68.0,4.3,11.7,5.9,3.3,2.4,8.0,330.0,NaN,2019-12-30 23:00
981591,148326,22194,2019-12-31 0:00,13.6,344.0,18.3,1030.8,68.0,3.7,11.7,7.0,4.0,2.9,8.0,318.0,NaN,2019-12-31 0:00

In [76]:
dfw[['날짜']] = dfw[['일시']]

In [77]:
df_

,Unnamed: 0,날짜,지역,발생해역,선종,톤수,계절,월,시간대,시간대_구체,기상상태,인원,y,지점
0,9,2011-12-29 14:00,목포,영해,여객선,247.00,겨울,12,14,12-16시,양호,0,0,22183
1,10,2011-12-29 13:00,목포,영해,기타,4.20,겨울,12,13,12-16시,양호,0,0,22183
2,12,2011-12-28 16:00,목포,영해,어선,29.00,겨울,12,16,16-20시,양호,8,1,22183
3,31,2011-12-22 7:00,목포,영해,어선,78.00,겨울,12,7,4-8시,황천5급,0,0,22183
4,39,2011-12-20 17:00,목포,영해,어선,12.00,겨울,12,17,16-20시,양호,0,0,22183
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20204,3395,2019-03-03 17:00:00,울진,영해,어선,4.94,봄,3,16-20시,17,양호,0,0,22190
20205,3460,2019-01-18 18:00:00,울진,영해,어선,20.00,겨울,1,16-20시,18,양호,0,0,22190
20206,3473,2019-01-10 18:00:00,울진,영해,어선,7.93,겨울,1,16-20시,18,양호,0,0,22190
20207,3638,2019-08-04 20:00:00,울진,항계 내,낚시어선,5.25,여름,8,20-24시,20,양호,0,0,22190
20208,3719,2019-05-19 20:00:00,울진,영해-EEZ,어선,29.00,봄,5,20-24시,20,양호,0,0,22190

In [79]:
dfw

,Unnamed: 0,지점,일시,풍속(m/s),풍향(deg),GUST풍속(m/s),현지기압(hPa),습도(%),기온(°C),수온(°C),최대파고(m),유의파고(m),평균파고(m),파주기(sec),파향(deg),지점1,날짜
0,0,21229,2011-12-28 0:00,2.1,304.0,4.2,1031.0,45.0,6.2,11.9,3.7,2.2,1.1,6.4,103.0,NaN,2011-12-28 0:00
1,1,21229,2011-12-28 1:00,4.5,293.0,6.9,1030.6,51.0,6.2,11.7,3.6,2.2,1.1,4.3,82.0,NaN,2011-12-28 1:00
2,2,21229,2011-12-28 2:00,4.6,277.0,7.2,1030.4,42.0,6.5,12.4,3.4,2.1,1.0,4.9,206.0,NaN,2011-12-28 2:00
3,3,21229,2011-12-28 3:00,3.2,285.0,6.0,1030.4,40.0,6.5,13.2,3.3,2.1,1.0,4.6,8.0,NaN,2011-12-28 3:00
4,4,21229,2011-12-28 4:00,2.7,276.0,4.6,1030.5,41.0,6.7,13.3,2.6,1.9,1.0,9.1,37.0,NaN,2011-12-28 4:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981587,148322,22194,2019-12-30 20:00,12.9,338.0,16.5,1028.5,67.0,6.0,11.7,5.5,3.3,2.4,7.1,329.0,NaN,2019-12-30 20:00
981588,148323,22194,2019-12-30 21:00,13.9,341.0,17.9,1028.9,68.0,5.0,11.7,5.7,4.1,2.9,7.1,327.0,NaN,2019-12-30 21:00
981589,148324,22194,2019-12-30 22:00,14.2,342.0,19.2,1029.6,68.0,4.3,11.7,6.0,3.5,2.5,8.0,315.0,NaN,2019-12-30 22:00
981590,148325,22194,2019-12-30 23:00,13.5,343.0,17.3,1030.3,68.0,4.3,11.7,5.9,3.3,2.4,8.0,330.0,NaN,2019-12-30 23:00
981591,148326,22194,2019-12-31 0:00,13.6,344.0,18.3,1030.8,68.0,3.7,11.7,7.0,4.0,2.9,8.0,318.0,NaN,2019-12-31 0:00

In [83]:
df_[['지점']].dtypes

지점    int64
dtype: object

In [84]:
dfw[['지점']].dtypes

지점    int64
dtype: object

In [82]:
df_[['지점']]=df_[['지점']].astype("int64")

In [85]:
dfw[['날짜']] = dfw[['일시']]

In [68]:
df_

,날짜,지역,발생해역,선종,톤수,계절,월,시간대,시간대_구체,기상상태,인원,y,지점
9,2011-12-29 14:00,목포,영해,여객선,247.00,겨울,12,14,12-16시,양호,0,0,22183
10,2011-12-29 13:00,목포,영해,기타,4.20,겨울,12,13,12-16시,양호,0,0,22183
12,2011-12-28 16:00,목포,영해,어선,29.00,겨울,12,16,16-20시,양호,8,1,22183
31,2011-12-22 7:00,목포,영해,어선,78.00,겨울,12,7,4-8시,황천5급,0,0,22183
39,2011-12-20 17:00,목포,영해,어선,12.00,겨울,12,17,16-20시,양호,0,0,22183
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3395,2019-03-03 17:00:00,울진,영해,어선,4.94,봄,3,16-20시,17,양호,0,0,22190
3460,2019-01-18 18:00:00,울진,영해,어선,20.00,겨울,1,16-20시,18,양호,0,0,22190
3473,2019-01-10 18:00:00,울진,영해,어선,7.93,겨울,1,16-20시,18,양호,0,0,22190
3638,2019-08-04 20:00:00,울진,항계 내,낚시어선,5.25,여름,8,20-24시,20,양호,0,0,22190
3719,2019-05-19 20:00:00,울진,영해-EEZ,어선,29.00,봄,5,20-24시,20,양호,0,0,22190

In [69]:
dfw

,Unnamed: 0,지점,일시,풍속(m/s),풍향(deg),GUST풍속(m/s),현지기압(hPa),습도(%),기온(°C),수온(°C),최대파고(m),유의파고(m),평균파고(m),파주기(sec),파향(deg),지점1,날짜
0,0,21229,2011-12-28 0:00,2.1,304.0,4.2,1031.0,45.0,6.2,11.9,3.7,2.2,1.1,6.4,103.0,NaN,2011-12-28 0:00
1,1,21229,2011-12-28 1:00,4.5,293.0,6.9,1030.6,51.0,6.2,11.7,3.6,2.2,1.1,4.3,82.0,NaN,2011-12-28 1:00
2,2,21229,2011-12-28 2:00,4.6,277.0,7.2,1030.4,42.0,6.5,12.4,3.4,2.1,1.0,4.9,206.0,NaN,2011-12-28 2:00
3,3,21229,2011-12-28 3:00,3.2,285.0,6.0,1030.4,40.0,6.5,13.2,3.3,2.1,1.0,4.6,8.0,NaN,2011-12-28 3:00
4,4,21229,2011-12-28 4:00,2.7,276.0,4.6,1030.5,41.0,6.7,13.3,2.6,1.9,1.0,9.1,37.0,NaN,2011-12-28 4:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981587,148322,22194,2019-12-30 20:00,12.9,338.0,16.5,1028.5,67.0,6.0,11.7,5.5,3.3,2.4,7.1,329.0,NaN,2019-12-30 20:00
981588,148323,22194,2019-12-30 21:00,13.9,341.0,17.9,1028.9,68.0,5.0,11.7,5.7,4.1,2.9,7.1,327.0,NaN,2019-12-30 21:00
981589,148324,22194,2019-12-30 22:00,14.2,342.0,19.2,1029.6,68.0,4.3,11.7,6.0,3.5,2.5,8.0,315.0,NaN,2019-12-30 22:00
981590,148325,22194,2019-12-30 23:00,13.5,343.0,17.3,1030.3,68.0,4.3,11.7,5.9,3.3,2.4,8.0,330.0,NaN,2019-12-30 23:00
981591,148326,22194,2019-12-31 0:00,13.6,344.0,18.3,1030.8,68.0,3.7,11.7,7.0,4.0,2.9,8.0,318.0,NaN,2019-12-31 0:00

### 데이터 셋 두개 최종 합치기 , 이거 하고 오늘 끝 !

In [104]:
df = pd.merge(df_, dfw, on=['날짜','지점'], how="left")

In [64]:
df.to_csv(r"C:\Users\shipo\Data\KMOU project\해양 데이터\2. Final\찐찐찐찐찐이야.csv",encoding="euc-kr")

In [107]:
# df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20209 entries, 0 to 20208
Data columns (total 28 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0_x  20209 non-null  int64
 1   날짜            20209 non-null  object
 2   지역            20209 non-null  object
 3   발생해역          20209 non-null  object
 4   선종            20176 non-null  object
 5   톤수            20176 non-null  float64
 6   계절            20209 non-null  object
 7   월             20209 non-null  int64
 8   시간대           20209 non-null  object
 9   시간대_구체        20209 non-null  object
 10  기상상태          20209 non-null  object
 11  인원            20209 non-null  int64
 12  y             20209 non-null  int64
 13  지점            20209 non-null  int64
 14  Unnamed: 0_y  12906 non-null  float64
 15  일시            12906 non-null  object
 16  풍속(m/s)       12719 non-null  float64
 17  풍향(deg)       12671 non-null  float64
 18  GUST풍속(m/s)   12714 non-null  float64
 19  현지기압(hPa)     12749 non-null  float64
 20  습도(%)         12699 non-null  float64
 21  기온(°C)        12785 non-null  float64
 22  수온(°C)        12806 non-null  float64
 23  최대파고(m)       12855 non-null  float64
 24  유의파고(m)       12837 non-null  float64
 25  평균파고(m)       12719 non-null  float64
 26  파주기(sec)      12821 non-null  float64
 27  파향(deg)       12869 non-null  float64
dtypes: float64(14), int64(5), object(9)
memory usage: 4.5+ MB

In [106]:
df.drop("지점1", inplace=True, axis=1)

In [109]:
df.dropna()

,Unnamed: 0_x,날짜,지역,발생해역,선종,톤수,계절,월,시간대,시간대_구체,...,GUST풍속(m/s),현지기압(hPa),습도(%),기온(°C),수온(°C),최대파고(m),유의파고(m),평균파고(m),파주기(sec),파향(deg)
313,3037,2013-12-08 22:00,목포,영해-EEZ,화물선,3850.00,겨울,12,22,20-24시,...,5.9,1020.8,68.0,10.2,11.4,0.1,0.1,0.0,4.9,89.0
314,3041,2013-12-03 0:00,목포,협수로,예부선,4003.00,겨울,12,0,0-4시,...,4.4,1022.5,57.0,7.6,11.3,0.1,0.1,0.1,2.1,270.0
315,3046,2013-11-29 23:00,목포,영해,예부선,2909.00,가을,11,23,20-24시,...,4.1,1022.6,56.0,8.8,11.8,0.5,0.2,0.1,2.7,90.0
317,3064,2013-11-24 14:00,목포,영해-EEZ,어선,9.77,가을,11,14,12-16시,...,12.5,1013.6,63.0,14.2,13.2,0.5,0.2,0.2,2.1,90.0
318,3070,2013-11-22 11:00,목포,협수로,여객선,75.00,가을,11,11,8-12시,...,8.2,1027.8,58.0,9.1,12.5,0.4,0.3,0.2,2.8,90.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19980,16291,2018-01-15 10:00,완도,영해,어선,1.83,겨울,1,10,8-12시,...,4.8,1025.4,74.0,9.4,11.3,1.6,0.9,0.7,5.3,144.0
19981,16305,2018-01-13 21:00,완도,항계내,예부선,31.00,겨울,1,21,20-24시,...,5.5,1032.3,52.0,5.5,14.4,0.9,0.6,0.4,4.3,57.0
19982,16333,2018-01-10 13:00,완도,영해,어선,1.89,겨울,1,13,12-16시,...,23.3,1019.1,74.0,3.3,14.7,6.7,4.2,3.0,9.1,221.0
19983,16367,2018-01-05 12:00,완도,영해,어선,2.48,겨울,1,12,12-16시,...,9.2,1020.7,69.0,5.0,14.6,1.4,0.9,0.6,4.3,172.0
19984,16381,2018-01-03 4:00,완도,항계내,예부선,22.00,겨울,1,4,4-8시,...,12.5,1028.7,61.0,3.5,14.7,1.7,1.0,0.7,4.0,250.0

In [198]:
df.columns

Index(['날짜', '지역', '발생해역', '선종', '톤수', '계절', '월', '시간대', '시간대_구체', '기상상태',
       '인원', 'y', '지점', '풍속(m/s)', '풍향(deg)', 'GUST풍속(m/s)', '현지기압(hPa)',
       '습도(%)', '기온(°C)', '수온(°C)', '최대파고(m)', '유의파고(m)', '평균파고(m)',
       '파주기(sec)', '파향(deg)'],
      dtype='object')

# 이제 갈림길

In [101]:
df.drop('일시',axis=1,inplace=True)

C:\Users\shipo\Anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [102]:
df = df.dropna()
# 약 1/3 이 날라감 까비

In [203]:
df.to_csv(r"C:\Users\shipo\Data\KMOU project\해양 데이터\2. Final\최종본.csv",encoding="euc-kr")

In [103]:
df

Empty DataFrame
Columns: [Unnamed: 0_x, 날짜, 지역, 발생해역, 선종, 톤수, 계절, 월, 시간대, 시간대_구체, 기상상태, 인원, y, 지점, Unnamed: 0_y, 풍속(m/s), 풍향(deg), GUST풍속(m/s), 현지기압(hPa), 습도(%), 기온(°C), 수온(°C), 최대파고(m), 유의파고(m), 평균파고(m), 파주기(sec), 파향(deg), 지점1]
Index: []

[0 rows x 28 columns]